<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= image_tag @user.photos.url(:mini) %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @user.photo %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Locations:</strong>
  <%= @user.location.name %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
