<h1>Ellos están listos para tener un nuevo hogar.</h1>

<% @animals.each do |animal| %>
    <div class="card">
      <%= link_to animal do %>
      <div class="card_img">
        <%= image_tag animal.photos.url(:mini) %>
      </div>
      <div class="card_info">
        <%= animal.title %><i class="material-icons">favorite</i>
      </div>
      <% end %>
    </div>
  <!-- <tr>
  <td><%= animal.title %></td>
  <td><%= animal.breed %></td>
  <td><%= animal.description %></td>
  <td><%= animal.photo %></td>
  <td><%= animal.location.name %></td>
  <td><%= link_to 'Show', animal %></td>
  <td><%= link_to 'Edit', edit_animal_path(animal) %></td>
  <td><%= link_to 'Destroy', animal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr> -->

<% end %>

<br>

<%= link_to 'New Animal', new_animal_path %>
