<p id="notice"><%= notice %></p>

<h1>Listing Animals</h1>

    <% @animals.each do |animal| %>
    <div class="card">
      <div class="card_info">
        <%= animal.title %>
      </div>
    </div>
      <!-- <tr>
        <td><%= animal.title %></td>
        <td><%= animal.breed %></td>
        <td><%= animal.description %></td>
        <td><%= animal.photo %></td>
        <td><%= animal.location.name %></td>
        <td><%= link_to 'Show', animal %></td>
        <td><%= link_to 'Edit', edit_animal_path(animal) %></td>
        <td><%= link_to 'Destroy', animal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> -->
    <% end %>

<br>

<%= link_to 'New Animal', new_animal_path %>
