<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @animal.title %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @animal.breed %>
</p>

<p>
  <strong>Description:</strong>
  <%= @animal.description %>
</p>

<p>
  <strong>Photo:</strong>
  <%= image_tag @animal.photos.url(:mini) %>
</p>

<p>
  <strong>Locations:</strong>
  <%= @animal.location.name %>
</p>

<%= link_to 'Edit', edit_animal_path(@animal) %> |
<%= link_to 'Back', animals_path %>
